language: node_js
node_js:
  - lts/*

cache:
  directories:
    - node_modules

script:
  - npm run test

after_success:
  - npm run coverage

before_deploy:
  - "npm run docz:build"

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: docs-dist
  on:
    branch: master
